name: Build & Deploy
on:
  push:
  workflow_dispatch:

jobs:
  next-app:
    uses: navikt/teamesyfo-github-actions-workflows/.github/workflows/next-app.yaml@main
    permissions:
      contents: read
      id-token: write
      packages: write
    secrets: inherit
    with:
      app: syfo-oppfolgingsplan-frontend
      base-path: /syk/oppfolgingsplan
      node-version: 24.x
